html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { 	margin: 0; 	padding: 0; 	border: 0; 	font-size: 100%; 	font: inherit; 	vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 	display: block; } body { 	line-height: 1; } ol, ul { 	list-style: none; } blockquote, q { 	quotes: none; } blockquote:before, blockquote:after, q:before, q:after { 	content: ''; 	content: none; } table { 	border-collapse: collapse; 	border-spacing: 0; }
 
body {
    background-color: #161513;
}
.div-encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 810px;
    margin: 0 auto;
}
.div-container-1 {
    background-color: #222222;
}

.div-logo {
    width: 80px;
    height: 80px;
}
.div-submenu {
    display: flex;
}
.div-submenu a {
    padding: 30px 30px;
    color: white;
    text-decoration: none;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
}

@media only screen and (max-width: 600px) {
    .div-submenu {
        display: none;
    }
}
.div-container-2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.div-avatar-1 {
    width: 213px;
    height: 213px;
    margin-top: 106.82px;
    margin-bottom: 42px;
}
.div-container-text-image-1 {
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 55px;
    max-width: 656px;
    width: 90%;
}
.gradiente {
    background: linear-gradient(90deg,#FF8660,#9A33FF);
    -webkit-background-clip: text;
    color: transparent;
}
.div-container-text-1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300; /* Poppins Light */
    font-size: 18px;
    text-align: center;
    color: #C5C5C5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 39px;
    max-width: 656px;
    width: 90%;
}
.div-buttom-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 54px;
    margin-bottom: 88px;
    gap: 18px;
}

.btn-1 {
    color: black;
    background-color: white;
    padding: 20px 30px;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 21.38px;
}
.btn-2 {
    color: white;
    background-color: transparent;
    padding: 20px 30px;
    border-radius: 50px;
    border: 2px solid white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 21.38px;
}

.div-container-text-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serisf;
    font-weight: 600;
    color: #C5C5C5;
    padding-left: 608px;
    padding-right: 624px;
    padding-bottom: 48px;
}
.div-container-img-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 496px;
    padding-right: 497.18px;
    padding-bottom: 99px;
}
.div-container-img-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 625.25px;
    padding-right: 632.75px;
    padding-bottom: 27px;
}
.div-container-img-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-left: 315px;
    padding-right: 315px;
    padding-bottom: 96px;
}
.div-container-img-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 613px;
    padding-right: 614px;
    padding-bottom: 57px;
}
.div-container-img-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 315px;
    padding-right: 315px;
    padding-bottom: 107px;
}
.div-container-img-7 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 1448.25px;
    height: 418.76px;
}


